<%= form_with(model: ripple, local: true) do |form| %>
  <% if ripple.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ripple.errors.count, "error") %> prohibited this ripple from being saved:</h2>

      <ul>
      <% ripple.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Your name or alias (required)" %>
    <%= form.text_field :name, size:40 %>
  </div>

  <div class="field">
    <%= form.label :url, "A website, yours or otherwise (optional)" %>
    <%= form.text_field :url, size:40 %>
  </div>

  <div class="field">
    <%= form.label :message, "Your message/note/quote/rant (required)" %>
    <%= form.text_area :message, id: :ripple_message, rows: 15, cols:70 %>
  </div>

  <div class="actions ripple">
    <%= form.submit %>
  </div>
<% end %>
