<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th>Posted</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ripples.each do |ripple| %>
      <tr>
        <td>
          <%= link_to_if(ripple.url.present?, ripple.name, 
                        ripple.url, 
                        :target => "_blank") %>
        </td>
        <td><%=h truncate(ripple.message, :length => 75) %></td>
        <td><%= ripple.created_at %></td>
        <td><%= link_to 'Show', ripple %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ripple', new_ripple_path %>
