<p id="notice"><%= notice %></p>
<table class="ripple">
  <thead>
    <col style="width:15%">
    <col style="width:55%">
    <col style="width:20%">
    <col style="width:10%">
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th>Posted</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ripples.each do |ripple| %>
      <tr>
        <td>
          <%= link_to_if(ripple.url.present?, ripple.name, 
                        ripple.url, 
                        :target => "_blank") %>
        </td>
        <td><%=h truncate(ripple.message, :length => 75) %></td>
        <td><%= ripple.created_at %></td>
        <td><%= link_to 'Show', ripple %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<nav>
  <%= link_to_if @page != 1, 'Newest', ripples_page_path(1) %> | 
  <%= link_to_if @page > 1, 'Previous 10 Ripples', ripples_page_path(@page - 1)  %> | 
  <%= link_to_if @page < @total_pages, 'Next 10 Ripples', ripples_page_path(@page + 1)  %> | 
  <%= link_to_if @page != @total_pages, 'Oldest', ripples_page_path(@total_pages) %> |
  <%= link_to 'New Ripple', new_ripple_path %>
</nav>